<!--
 * @Author: linweibin
 * @Description: 
 * @props: 
 * @event: 
 * @Date: 2019-11-20 09:40:13
 * @LastEditors: linweibin
 * @LastEditTime: 2019-11-20 16:48:48
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="mainHeader">首页</div>
    <div class="mainBody">介绍</div>
    <a class="page" href="./page1.html">page1</a>
    <a class="page" href="./page2.html">page2</a>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- 手机控制台 -->
    <!-- <script src="//cdn.jsdelivr.net/npm/eruda"></script><script>eruda.init();</script> -->
    <!-- 微信，QQ分享SDK -->
    <!-- <script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script> -->
</body>
</html>